<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4">
        <div class="has-text-centered">
          <h3 class="title"><%= t('.title') %></h3>
          <%= link_to("Cancel this authorization request", oauth_cancel_path) %>
        </div>
        <div class="box">
          <div class="has-text-centered">
          <%= avatar_tag(user: current_user, size: 128) %>
          <small>
            <p style="margin: 10px; font-weight: 300">
              <b><%= current_user.name %></b> (<%= current_user.email %>), by clicking "<%= t('doorkeeper.authorizations.buttons.authorize') %>" below, you accept that:
            </p>
          </small>
          </div>

          <% if @pre_auth.scopes.count > 0 %>
            <div id="oauth-permissions">
              <span><%= t('.able_to') %>:</span>

              <small class="content">
                <ul style="margin-top: .5rem">
                <% @pre_auth.scopes.each do |scope| %>
                  <li>
                    <u>
                      <%= t scope, scope: [:doorkeeper, :scopes, :title] %>
                    </u> -
                    <span style="font-weight: 300">
                      <%= t scope, scope: [:doorkeeper, :scopes, :description] %>
                    </span>
                  </li>
                <% end %>
                </ul>
              </small>
            </div>
          <% end %>
          
          <div class="columns" style="padding-top: 20px">
            <div class="column is-6 is-desktop">
              <%= form_tag oauth_authorization_path, method: :post do %>
                <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
                <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
                <%= hidden_field_tag :state, @pre_auth.state %>
                <%= hidden_field_tag :response_type, @pre_auth.response_type %>
                <%= hidden_field_tag :scope, @pre_auth.scope %>
                <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
                <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
                <%= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "button is-success is-block is-fullwidth" %>
              <% end %>
            </div>
            <div class="column is-6 is-desktop">
              <%= form_tag oauth_authorization_path, method: :delete do %>
                <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
                <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
                <%= hidden_field_tag :state, @pre_auth.state %>
                <%= hidden_field_tag :response_type, @pre_auth.response_type %>
                <%= hidden_field_tag :scope, @pre_auth.scope %>
                <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
                <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
                <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "button is-danger is-block is-fullwidth" %>
              <% end %>
            </div>
          </div>


          <div class="notification is-text-small has-text-centered" style="margin-top">
            <small>You will be redirected to: <br/><u><%= domain_for_uri(@pre_auth.redirect_uri) %></u></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

