<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container restricted has-text-centered">
      <%= avatar_tag(size: 300, no_margin_top: true) %>
      <h1 class="title is-size-3">Welcome back, <%= current_user.name %></h1>
      <%= inactive_notification %>
      <h1 class="is-size-5 has-text-grey-light">Manage your account details here. You are in control.</h1>

      <div class="action-cards">
        <div class="columns">
          <div class="column is-6">
            <%= render partial: 'home/action_card', locals: {
              title: 'The next go-to anime info site',
              description: 'Find out when your favourite anime airs and where you can watch it. Organize your watch list per streaming platform.',
              link_text: 'Go to YourAnime.moe',
              link_path: Rails.configuration.x.hosts[:naka].join('authorize').to_s,
              new_tab: true,
            } %>
          </div>
          <div class="column is-6">
            <%= render partial: 'home/action_card', locals: {
              title: 'Your account',
              description: 'You have control over which information you wish to expose. You can also keep track of all authorized applications.',
              link_text: 'Account details',
              link_path: my_account_path,
            } %>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <%= render partial: 'home/action_card', locals: {
              title: 'Authorized applications',
              description: 'You will be asked for your permission to use your account details upon logging in. See all apps here.',
              link_text: 'View authorized apps',
              link_path: oauth_authorized_applications_path,
            } %>
          </div>
          <div class="column is-6">
            <%= render partial: 'home/action_card', locals: {
              title: 'Logout',
              description: 'For your security, we will automatically end your session on this site every 2 hours.',
              link_text: 'Logout',
              link_path: logout_path,
              link_method: :delete,
              remote: true,
            } %>
          </div>
        </div>
        <% if current_user.admin? %>
          <div class="columns">
            <div class="column is-6">
              <%= render partial: 'home/action_card', locals: {
                title: 'OAuth Applications',
                description: 'Manage all OAuth applications that are authorized to interact with Misete.io.',
                link_text: 'View all applications',
                link_path: oauth_applications_path,  
              } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
